body {
  /*font-family: monospace;*/

  /* Esto es para centrar el contenido por si la pantalla es muy grande. */
  max-width: 700px;
  margin: auto;

  background: #fefefe;
  color: #222;

  /* Diferencia de altura entre cada renglón. */
  line-height: 1.5;

  padding: 1em;
}

/* Esta propiedad establece el ancho máximo de una imagen en el 100% del ancho de su elemento padre. Esto significa que la imagen no puede ser más ancha que el espacio disponible dentro de su contenedor. Si la imagen es más grande, se reducirá automáticamente para caber en ese espacio, lo que ayuda a evitar que sobrepase los límites de la pantalla o del diseño, especialmente en dispositivos móviles o en layouts responsivos. */
img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

header, footer {
  text-align: center;
  margin-bottom: 2em;
}
 
nav a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

